@model MVCEFRazorAssessment.ViewModels.VehiclesForOwner

@{
    ViewBag.Title = "VehiclesForOwner";
}

<h2>Vehicles For @Model.Owner.Name</h2>

<table class="table">
    <tr>
        <th>
            VIN
        </th>
        <th>
            Make
        </th>
        <th>
            Model
        </th>
        <th>
            Year
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Vehicles) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Vehicles", new { id = item.Id }, null) |
                @Html.ActionLink("Details", "Details", "Vehicles", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "Vehicles", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
